name: Environments working

on: [push]

jobs:
  test-environment:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.14.2"]

    name: ${{ matrix.os }} python ${{ matrix.python-version }} test
    steps:
    - uses: actions/checkout@v3

    - name: Add OMP dependencies in MacOS
      shell: bash
      if: matrix.os == 'macos-latest'
      run: |
        brew install libomp

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Show environment info
      run: |
        python --version
        
    - name: Test with pytest
      run: |
        pip install -r requirements.txt && pip install pytest && pytest .github/workflows/test_environments.py
